---
- name: Установка Zabbix Agent 7.0 и настройка
  hosts: all
  become: true

  vars:
    zabbix_server_ip: "10.10.10.10"

  tasks:
    - name: Установить Zabbix репозиторий
      yum:
        name: "https://repo.zabbix.com/zabbix/7.0/rhel/9/x86_64/zabbix-release-7.0-1.el9.noarch.rpm"
        disable_gpg_check: true
        state: present

    - name: Обновить кэш пакетов
      yum:
        name: "*"
        state: latest
        update_cache: true

    - name: Установить Zabbix Agent 7.0
      yum:
        name: zabbix-agent
        state: present

    - name: Настроить сервер в zabbix_agentd.conf
      lineinfile:
        path: /etc/zabbix/zabbix_agentd.conf
        regexp: '^Server='
        line: "Server={{ zabbix_server_ip }}"
      notify: Restart zabbix-agent

    - name: Указать Hostname
      lineinfile:
        path: /etc/zabbix/zabbix_agentd.conf
        regexp: '^Hostname='
        line: "Hostname={{ inventory_hostname }}"
      notify: Restart zabbix-agent

    - name: Запустить и включить Zabbix Agent
      systemd:
        name: zabbix-agent
        state: started
        enabled: yes

  handlers:
    - name: Restart zabbix-agent
      systemd:
        name: zabbix-agent
        state: restarted
